.Quantita{
	-fx-background-color: rgba(255,255,255,0.2);
	-fx-text-fill: rgba(255,255,255,0.9);
	-fx-font-weight: bold;
	-fx-cursor: hand;
	-fx-border-width: 0 0 0 0;
}

.Quantita:hover{
	-fx-background-color: rgba(255,255,255,0.5);
	-fx-border-width: 0 0 0 0;
}

#btnProcediAllOrdine{
	-fx-background-radius: 50;
	-fx-border-radius: 50;
	-fx-background-color: #FFD814;
	-fx-text-fill: black;
	-fx-font-weight: normal;
}

#btnProcediAllOrdine:hover{
	-fx-cursor: hand;
	-fx-border-width: 0 0 0 0;
	-fx-background-color: rgb(231, 187, 69);
}

#lblRiepilogo{
	-fx-border-radius: 30px;
	-fx-border-color: black;
	-fx-border-width: 1 1 1 1;
	
}