

#btnAddProduct, #btnScegliImage{
	/*-fx-background-color: rgba(255,255,255,1.5);*/
	-fx-background-radius: 5em ;
	-fx-border-radius: 5em;
	-fx-border-color: #808080;
	-fx-border-width: 0 0 0 0;
	-fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1), 10.0, 0.0, 0.0, 10.0 );
	-fx-text-fill: white;
}

#btnAddProduct{
	-fx-background-color: rgba(12, 98, 131, 1);

}

#btnScegliImage{
	-fx-background-color: rgba(179, 179, 179, 1);
}

#btnScegliImage:hover{
	-fx-cursor: hand;
	-fx-background-color: rgba(179, 179, 179, 0.5);
}

#btnAddProduct:hover{
	-fx-cursor: hand;
	-fx-background-color: rgba(12, 98, 131, 0.7);
}

.combo-box{
	-fx-background-color: transparent;
	-fx-background-radius: 15px ;
	-fx-border-width: 0 0 2 0;
	-fx-border-color: rgba(0, 0, 0, 0.2);
}


.combo-box-base .text{
	-fx-fill: black;
}

.combo-box .list-view .list-cell{
	-fx-background-color: rgba(211, 211, 211, 0.4);
}

.text-field{
	-fx-background-color: transparent;
	-fx-border-color: rgba(0, 0, 0, 0.2);
	-fx-border-width: 0 0 2 0;
	-fx-prompt-text-fill: rgba(0, 0, 0, 0.4);
	-fx-text-fill: rgba(0, 0, 0, 1);
	-fx-font-size: 15px;
	
}

.text-area {
    -fx-font-size: 15;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-background-color: transparent;

}

.text-area .content {
    -fx-background-color: transparent;
	-fx-border-color: rgba(0, 0, 0, 0.2);
	-fx-border-width: 0 0 2 0;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;

}

