#vBoxProdotto{
	-fx-background-color:  #232f3e;
	-fx-background-radius: 10;
	-fx-border-radius: 10;

}

.label{
	-fx-text-fill: white;
}

#addCartBtn{
	-fx-background-color: #FFD814;
	-fx-border-radius: 15;
	-fx-background-radius: 15;
	-fx-border-width: 0 0 0 0;
	-fx-text-fill: black;
	-fx-font-weight: normal;

}

#addCartBtn:hover{
	-fx-background-color: rgb(231, 187, 69);
}

#addCartBtn:pressed{
	-fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}